.Task1 {
  color: red;
}
.Task2 {
  color: blue;
}
.Task3 {
  color: yellow;
}
.Task4 {
  color: green;
}
.Task5 {
  color: purple;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}
.form {
  display: flex;
  flex-direction: column;
}

.table-data {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
