<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div>
          <h1 class="title">BM</h1>
        </div>
        <div>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about_us.html">About</a></li>
            <li><a href="contact_us.html">Contact</a></li>
            <li><a href="inquiry.html">Inquiry</a></li>
            <li><a href="help.html">Help</a></li>
          </ul>
        </div>
      </div>
      <div class="home-content"">
      <h1>FAQ for our product</h1>
      <div id="faq-list">
        <div class="faq-card">
          <h3>1. When you restock your product?</h3>
          <h2>
            We restock every end of the month for any product that already
            minimum stock
          </h2>
        </div>
        <div class="faq-card">
          <h3>2. Is This Illegal?</h3>
          <h2>
            The item passing tax inspector so maybe if tax inspector check the
            item they will take it
          </h2>
        </div>
        <div class="faq-card">
          <h3>3. Can I Refund</h3>
          <h2>LMAO No</h2>
        </div>
      </div>
    </div>
  </body>
</html>
