<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div>
          <h1 class="title">BM</h1>
        </div>
        <div>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about_us.html">About</a></li>
            <li><a href="contact_us.html">Contact</a></li>
            <li><a href="inquiry.html">Inquiry</a></li>
            <li><a href="help.html">Help</a></li>
          </ul>
        </div>
      </div>
      <div class="home-content"">
      <h1>Black Market</h1>
      <h1 class="context">Fake Website For Test Purpose</h1>
    </div>
  </body>
</html>
